.internacional {
  color: blue;
}

.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.main {
  padding: 20px;
  background-color: #ffffff;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #dddddd;
}
.dhImage {
  width: 33%;
  height: auto;
}
